01-HelloWorld/HelloWorld-Flow
[
    {
        "id": "7d2aa888.9d6608",
        "type": "tab",
        "label": "Led Blink",
        "disabled": false,
        "info": "Led Blink Example Simple Flow"
    },
    {
        "id": "46c35d64.b37ef4",
        "type": "acquisition out",
        "z": "7d2aa888.9d6608",
        "name": "STM32F7_STLink_ProbeOut",
        "probeconfig": "ecf5967a.3c6aa8",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "8532a97e.315038",
        "type": "acquisition in",
        "z": "7d2aa888.9d6608",
        "name": "STM32F7_STLink_ProbeIn",
        "probeconfig": "ecf5967a.3c6aa8",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "f60ab6b3.868bf8"
            ],
            []
        ]
    },
    {
        "id": "60b01147.2258f",
        "type": "variables",
        "z": "7d2aa888.9d6608",
        "groupname": "LedState",
        "accesspoint": 0,
        "execonfig": "eeb83bc7.c255f8",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "led_1_state",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "1",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1617621528717,
        "openStatus": true,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "46c35d64.b37ef4"
            ]
        ]
    },
    {
        "id": "3666f5a8.92178a",
        "type": "ui_button",
        "z": "7d2aa888.9d6608",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": "5",
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "60b01147.2258f"
            ]
        ]
    },
    {
        "id": "2fc3a1ee.6ff0de",
        "type": "ui_button",
        "z": "7d2aa888.9d6608",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": "5",
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "60b01147.2258f"
            ]
        ]
    },
    {
        "id": "f60ab6b3.868bf8",
        "type": "processing",
        "z": "7d2aa888.9d6608",
        "groupname": "LedState",
        "groupid": "966082b.1bac28",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "3b061196.c17eae",
                "670c21b2.c90cd",
                "5e833f79.db961"
            ],
            []
        ]
    },
    {
        "id": "7f29dbd.6fd9d24",
        "type": "ui_led",
        "z": "7d2aa888.9d6608",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "gray",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Red Led",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b061196.c17eae",
        "type": "function",
        "z": "7d2aa888.9d6608",
        "name": "Get_Red_Led_State",
        "func": "if (msg.payload.variablename == \"led_1_state\")\n{\n    msg.payload = msg.payload.variabledata[0].y\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "7f29dbd.6fd9d24"
            ]
        ]
    },
    {
        "id": "85126374.48cff",
        "type": "ui_led",
        "z": "7d2aa888.9d6608",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "gray",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Green Led",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "670c21b2.c90cd",
        "type": "function",
        "z": "7d2aa888.9d6608",
        "name": "Get_Green_Led_State",
        "func": "if (msg.payload.variablename == \"led_2_state\")\n{\n    msg.payload = msg.payload.variabledata[0].y\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "85126374.48cff"
            ]
        ]
    },
    {
        "id": "5e833f79.db961",
        "type": "function",
        "z": "7d2aa888.9d6608",
        "name": "Get_Green_Led_State",
        "func": "if (msg.payload.variablename == \"led_3_state\")\n{\n    msg.payload = msg.payload.variabledata[0].y\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "ce5623ef.e3edc"
            ]
        ]
    },
    {
        "id": "ce5623ef.e3edc",
        "type": "ui_led",
        "z": "7d2aa888.9d6608",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "gray",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Green Led",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "ecf5967a.3c6aa8",
        "type": "probe",
        "z": "",
        "probeid": "066EFF504955857567162721",
        "probename": "ST-Link v2-1B (...62721)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "eeb83bc7.c255f8",
        "type": "exe-config",
        "z": "",
        "name": "LedState",
        "exefile": "D:\\Projects\\Embedded\\ST\\STM32F7\\01-HelloWorld\\Debug\\01-HelloWorld.elf",
        "exefolder": "D:\\Projects\\Embedded\\ST\\STM32F7\\01-HelloWorld\\Debug",
        "exevariablelist": [
            {
                "address": "0x080018d8",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000028",
                "name": "led_1_state",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x2000002c",
                "name": "led_1_timestamp",
                "type": 5
            },
            {
                "address": "0x20000029",
                "name": "led_2_state",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20000030",
                "name": "led_2_timestamp",
                "type": 5
            },
            {
                "address": "0x2000002a",
                "name": "led_3_state",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x2000002b",
                "name": "led_3_toggle",
                "type": 1
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "01-HelloWorld.elf",
        "exeModifiedTime": 1617621301939,
        "configLastUpdate": 1617621528397
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "z": "",
        "name": "Led Blink",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]